* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

:root {
    --dark-color: #19283f;
    --blue-color: #0077b5;
    --gray-color: #777;
}
.main-btn {
    color: #fff;
    padding: 0.5rem 1rem;
    background-color: var(--blue-color);
    text-decoration: none;
    margin-top: 20px;
  }
  .main-btn:hover {
    color: #fff;
  }
  .main-title::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--blue-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
body {
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    border-radius: 7px 7px 7px;
}

.button-bg-none {
    color: white;
    padding: 10px;
    border: 1px solid var(--gray-color);
    font-weight: bold;
}

.button-bg-blue {
    color: white;
    padding: 10px;
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    font-weight: bold;
}

.button-bg-none-blue {
    color: var(--blue-color);
    padding: 10px;
    border: 1px solid var(--gray-color);
    font-weight: bold;
}

.button-bg-none:hover{
    color: white;
    background-color: var(--gray-color);
}

.button-bg-blue:hover{
    color: var(--blue-color);
    background-color: transparent;
}

.main-title {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-title h2 {
    color: #272727;
    padding-bottom: 15px;
    font-weight: lighter;
}

.main-title h4 {
    color: #272727;
    margin-bottom: 3px;
    margin-top: 3px;
    font-weight: lighter;
    font-weight: 400;
}

.main-title .hr {
    width: 85px;
    height: 2px;
    background-color: var(--blue-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-title .hr-4 {
    width: 60px;
    height: 2px;
    background-color: var(--blue-color);
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.main-title p {
    color: var(--gray-color);
    margin-top: 32px;
    line-height: 1.7;
}

/* Footer Up Starts */
.footer-up {
    background-color: #ddd;
    position: relative;
    padding-top: 7px;
}

.footer-up .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.footer-up .contact ul{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--gray-color);
    padding: 0 30px;
    height: 30px;
}

.footer-up .contact ul li {
    border-right: 1px solid var(--gray-color);
    padding-right: 10px;
}

.footer-up .contact p {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-up .social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--gray-color);
    position: relative;
    color: var(--gray-color);
    padding: 0 30px;
}
/* Footer Up Ends */

/* Navbar Starts */
.navbar {
    padding-bottom: 20px;
    background-color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover,
.navbar .search svg {
    color: var(--blue-color);
}

.navbar .navbar-nav .nav-link {
    color: var(--gray-color);
    font-weight: 600;
}

.navbar .logo {
    font-weight: bold;
}

.navbar .navbar-toggler {
    font-size: 25px;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    color: var(--blue-color);
}
/* Navbar Ends */
/* Landing Starts */
.landing {
    background-color: var(--dark-color);
    background-image: url("../image/landing.jpg");
    background-position: center;
    background-size: cover;
    min-height: calc(85vh - 72px);
}

.landing .logo-img {
    width: 130px;
}

.landing h1 {
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 57px;
}

.landing p {
    color: white;
    padding: 10px 0 20px 0;
}

.bar {
    background-color: #f0f5f7;
    padding-top: 20px;
    position: relative;
}

.bar .container {
    position: relative;
    display: flex;
    align-items: center;
}

.bar h4 {
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 80px;
}

.bar a {
    margin-left: 160px;
    margin-bottom: 20px;
}
/* Landing Ends */
/* Feature Starts */
.feature .row a{
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
}
/* Feature Ends */
/* About Starts */
.about img {
    max-width: 100%;
}

.about .col-md-6 {
    padding: 0;
}

.about .col-6:last-child {
    background-color: #ddd;
}

.about .list {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 60px;
    margin-left: 60px;
}

.about .list li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f00c';
    font-weight: 900;
    margin-right: 20px;
    color: var(--blue-color);
    position: relative;
    top: 1px;
}
.about a{
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
}
/* About Ends */
/* Services Starts */
/* start AUTO REPAIR SERVICES*/
.pricing-table h2 {
    color: #333;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1px;
}
.pricing-table p {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 35px;
    color: #777;
    font-family: "open sans";
}
.pricing-table  img.img-fluid {
    margin-bottom: 12px;
}
.pricing-table  .box a {
    font-family: 'Open Sans';
    color: #333;

}

/* Services Ends */
/* Start Quote */
.quote {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("../image/testmonials.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    color: white;
}

.quote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
}

.quote .container {
    position: relative;
}

.quote .fa-pencil {
    padding: 12px;
    border: 1px solid white;
    border-radius: 50%;
}

.quote q {
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
}

.quote .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
    cursor: pointer;
}

.quote .fa-angle-left {
    left: 30px;
}

.quote .fa-angle-right {
    right: 30px;
}
/* End Quote */
/* Start Services */
.overview {
    padding-top: 100px;
    padding-bottom: 100px;
}

.overview .srv-box {
    display: flex;
    color: var(--blue-color);
}

.overview .srv-box i {
    margin-right: 50px;
}

.overview .srv-box h3 {
    color: #272727;
    margin: 30px;
}

.overview .srv-box p {
    line-height: 2;
    color: #777;
}
/* End Services */
.section-hover .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    background-color:#f0f5f7;
}

.section-hover .imgs-container .box {
    overflow: hidden;
    position: relative;
}

.section-hover .imgs-container .box:hover .caption{
    bottom: 0;
}

@media (min-width: 768px) {
    .section-hover .imgs-container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .section-hover .imgs-container .box {
        flex-basis: 25%;
    }
}

.section-hover .imgs-container .box img {
    max-width: 100%;
}

.section-hover .imgs-container .box .caption {
    position: absolute;
    left: 0;
    padding: 100px;
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    bottom: -100%;
}

.section-hover .imgs-container .box .caption h4 {
    font-weight: normal;
    margin: 10px;
}

.section-hover .text {
    margin: 20px auto;
    background-color: #f0f5f7;
}
/* Rol Face */
.rol-face {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100vh;
}

.rol-face h2 {
    font-weight: lighter;
}

.rol-face .hr {
    width: 60px;
    height: 2px;
    background-color: var(--blue-color);
    margin-bottom: 45px;
}

.rol-face h5 {
    font-size: 18px;
    margin-bottom: 55px;
}

.rol-left {
    padding-left: 30px;
    margin-bottom: 60px;
}
/*
.rol-face .rol-right .image img {
    width: 500px;
} */

/* Rol Face */
/* logos */
.logos {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.logos .bullets { 
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logos .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
}

.logos .bullets li.active {
    background-color: var(--blue-color);
    border-color: var(--blue-color);
}

.logos .images img {
    padding: 20px;
}
/* logos */
/* Start Footer */
.footer {
    background-color:#73767A ;
}
.footer .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
.footer .cc {
    border-top: 1px solid #888A8E;
}
.footer .box  {
    color: #FFF;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
   
}
.footer .box  .text-title::after
 {
    content: "";
    width: 40px;
    height: 2px;
    margin-top: 13px;
    display: block;
    background: #AEAFB0;
    position: absolute;
  }
.footer .social {
    display: flex;
}

.footer  .social li {
    margin-right: 10px;
}

.footer .social li a {
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #A4AAB3;
}

.footer .social li a:hover {
    color: var(--blue-color);
    transform: translateY(-5px);
    border: 1px solid #fff;
}
.footer .boxl h6 {
    color: #fff;
}
.footer .boxl  .text-title::after
 {
    content: "";
    width: 40px;
    height: 2px;
    margin-top: 13px;
    display: block;
    background: #AEAFB0;
    position: absolute;
  }
.footer .boxl .links li {
    list-style: none;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    padding-left: 0;
    border: none;
}
.footer .boxl .links li:hover {
    padding-left: 10px;
}

.footer .boxl .links li a {
    color: #fff;
}

.footer .boxl .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
.footer .box-t h6 {
    color: #fff;
}
.footer .box-t .text-title::after
{
   content: "";
   width: 40px;
   height: 2px;
   margin-top: 13px;
   display: block;
   background: #AEAFB0;
   position: absolute;
 }
 .footer .box-t {
   color: #fff;
}

.footer  .box-t {
    margin-right: 10px;
}

.footer .box-t  a {
    color: #A4AAB3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    border: 1px solid #E2E6E7;
    line-height: 16px;
    letter-spacing: 1px;
    font-family: 'Open Sans';
    font-weight: 500;
    padding: 10px 12px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 3px;
}

.footer .box-t  a:hover {
    transform: translateY(-5px);
    border: 1px solid #fff;
    color: #fff;
}
.footer .box-h {
    color: #fff;
}
.footer .box-h  .text-title::after
 {
    content: "";
    width: 40px;
    height: 2px;
    margin-top: 13px;
    display: block;
    background: #AEAFB0;
    position: absolute;
  }
  .footer .ahmed {
    padding-top: 1px;
    padding-bottom: 2px;
    font-size: 18px;
    line-height: 24px;
    padding-left: 0;
    font-family: 'Open Sans';
  }
  .footer .copyright {
    background-color: #fff;
    padding: 25px 0;
    text-align: center;
    color: #A4AAB3;
    margin: 50px 0 0;
    line-height: 24px;
    font-family: 'Open Sans';
}
.footer .copyright span {
    color: #777;
}
.footer .copyright span:hover{
text-decoration:underline ;
cursor: pointer;
}
/* End Footer */